services:
  backend:
    build: .
    restart: unless-stopped
    environment:
      TZ: Europe/Moscow
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - ./:/app
    healthcheck:
      test: curl --fail http://localhost:8000/api/list_models
      interval: 2s
      retries: 5
    ports:
      - 8000:8000
  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      TZ: Europe/Moscow
      MYSQL_DATABASE: rentsense
      MYSQL_USER: rentsense
      MYSQL_PASSWORD: rentsense
      MYSQL_ROOT_PASSWORD: rootpassword
    volumes:
      - mysql:/var/lib/mysql
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-prootpassword"]
      interval: 5s
      retries: 10

volumes:
  mysql: null


