[tool.black]
line-length = 127
target-version = ['py310']
include = '\.pyi?$'
extend-exclude = '''
/(
  \.git
  | __pycache__
  | \.venv
  | venv
  | env
  | build
  | dist
  | \.eggs
  | \.mypy_cache
  | \.pytest_cache
  | mlruns
  | mlflow\.db
  | catboost_info
)/
'''

[tool.pytest.ini_options]
testpaths = ["tests"]
python_files = "test_*.py"
python_classes = "Test*"
python_functions = "test_*"
addopts = "-v --tb=short --disable-warnings"

